.header-outer-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  height: 8vh;
  color: white;
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo ul {
  list-style: none;
  cursor: pointer;
}
.header-left {
  margin-right: 120px;
}
.header-left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  cursor: pointer;
}
.header-right ul {
  width: 150%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .header-left {
    display: none;
  }
  .header-right {
    margin-right: 40px;
  }
  .logo {
    margin-left: 20px;
  }
}
